#-------------
#Configuration
#-------------

#Compiler
CC:=i686-elf-gcc
LD:=i686-elf-ld
CC_BASE_INCLUDE:=/home/david/newmoon/compiler/lib/gcc/i686-elf/9.3.0/include
LD_BASE_LIB:=/home/david/newmoon/compiler/lib/gcc/i686-elf/9.3.0

#Additional flags and libs
CFLAGS?=-g -Werror -O3
CPPFLAGS?=
LDFLAGS?=-g
LIBS?=