BOOT_OBJS := boot/boot.o boot/main.o boot/bootconsole.o boot/pagealloc.o
BOOT_OBJS := $(BOOT_OBJS) boot/paging.o boot/modload.o boot/vm_alloc.o
BOOT_OBJS := $(BOOT_OBJS) modcore/idtbuildtable.o modcore/inthandlers.o
BOOT_OBJS := $(BOOT_OBJS) modcore/core_base.o

kboot: $(BOOT_OBJS) boot/boot.ld $(LIB_DEPENDENCIES) libs/libcore.a
	$(LD) -T boot/boot.ld -o $@ $(LDFLAGS) $(BOOT_OBJS) $(LIBS) -lcore

# Propagate general information up
CLEAN_FILES := $(CLEAN_FILES) kboot
ALL_TARGETS := $(ALL_TARGETS) kboot
ALL_OBJS := $(ALL_OBJS) $(BOOT_OBJS)