LIBCORE_OBJS := modcore/libcore/send_message.o modcore/libcore/recv_message.o
LIBCORE_OBJS := $(LIBCORE_OBJS) modcore/libcore/listen_interface.o
LIBCORE_OBJS := $(LIBCORE_OBJS) modcore/libcore/create_task.o

MODCORE_OBJS := modcore/core.o modcore/idtbuildtable.o modcore/inthandlers.o
MODCORE_OBJS := $(MODCORE_OBJS) modcore/core_base.o modcore/message.o
MODCORE_OBJS := $(MODCORE_OBJS) modcore/processor_tables.o

MODCORE_OBJS := $(MODCORE_OBJS) boot/bootconsole.o

INCLUDES := $(INCLUDES) -Imodcore/include 

# Code generation tools
modcore/gentools/genidt: modcore/gentools/genidt.cpp
	g++ -o modcore/gentools/genidt modcore/gentools/genidt.cpp -Wall -Wextra -Werror -std=c++11

modcore/gentools/genint: modcore/gentools/genint.cpp
	g++ -o modcore/gentools/genint modcore/gentools/genint.cpp -Wall -Wextra -Werror -std=c++11

# Generated code files
modcore/idtbuildtable.c: modcore/gentools/genidt
	modcore/gentools/genidt > modcore/idtbuildtable.c

modcore/inthandlers.S: modcore/gentools/genint
	modcore/gentools/genint > modcore/inthandlers.S

# Main module and library
libs/libcore.a: $(LIBCORE_OBJS)
	$(AR) rcs libs/libcore.a $(LIBCORE_OBJS)

modcore/core.mod: $(MODCORE_OBJS) $(LIB_DEPENDENCIES) $(MOD_DEPENDENCIES) libs/libcore.a
	$(LD) -o modcore/core.mod $(LDFLAGS_MODULE) $(MODCORE_OBJS) $(LIBS) -lcore

# Propagate general information up
CLEAN_FILES := $(CLEAN_FILES) libs/libcore.a modcore/core.mod
CLEAN_FILES := $(CLEAN_FILES) modcore/idtbuildtable.c modcore/inthandlers.S
CLEAN_FILES := $(CLEAN_FILES) modcore/gentools/genidt modcore/gentools/genint
ALL_TARGETS := $(ALL_TARGETS) modcore/core.mod
ALL_OBJS := $(ALL_OBJS) $(LIBCORE_OBJS) $(MODCORE_OBJS)